.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    border-image: 1px;
    background-color: #321d7e;
    color: white;
    font-weight: 600;
  }

  .spacer {
    flex: 1;
  }